@import "pages/all";


body{
    margin: 0;
}

*{
    font-family: Roboto;
    padding: 0;
}

.container{
    background-color: rgb(192, 54, 54);
   
    width: 100%;

    // background: map-get($theme-colors , "main" );
}