.word-level ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 4 cột bằng nhau */
    gap: 20px; /* Khoảng cách giữa các cột */
    list-style: none;
    padding: 0;
}
.container-word-level{
   margin: auto;
   max-width: 1050px;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc (nếu muốn) */
    
}
.h1{
    display: block;
}
.boder{
    border-bottom: 1px solid #dedede;
}
.word-level {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Chia thành 4 cột */
    gap: 15px; /* Khoảng cách giữa các button */
    margin: 20px;
}
.level-button {
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    text-align: start;
    color: black;
}