/* src/assets/styles/BlogHighlights.css */
.blog-highlights {
    padding: 20px;
    background-color: #f0e0e0;
  }
  
  .blog-highlights h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .blog-highlights ul {
    list-style: none;
    padding: 0;
  }
  
  .blog-highlights li {
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #c71c1c;
  }
  
  .blog-highlights h3 {
    font-size: 18px;
    margin: 0;
  }
  
  .blog-highlights p {
    font-size: 14px;
    color: #d81e1e;
  }
  