
  .backgr {
    display: flex;
  }

  .hero{
  
    background-image: url('../images/background_itviec.webp');
    background-size: contain, contain;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom center, right center;
    background: linear-gradient(to right, black, red);
   
  }
   
  .image{
    height: 22%;
    width: 100%;
    z-index: -1;
    position: absolute;
  }
  .image2{
    margin-left: 90%;
    width: 10%;
    z-index: 2;
    opacity: 3.5; /* Điều chỉnh độ mờ (tùy chọn) */
  } 

.image {
  z-index: 2; /* Hình ảnh đầu tiên */
  opacity: 4.5; 
}



  /*
  .hero {
     background-image: url('../images/background_itviec.webp'),url('../images/background2.webp');
       background: linear-gradient(to right, black, red),
                    url('../images/background_itviec.webp'),
                    url('../images/background2.webp');
   
    background-size: contain, contain;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom center, right center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f22b2b;
    text-align: center;
  }
   */
  .hero h1 {
    font-size: 36px;
    margin-top: 0%;
    color: white;
  }
  
  .hero p {
    font-size: 18px;
  }
  